# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

public/app.css
public/react_with_react_dom_prod.js
public/main.dart.js
