$primary: #172d72
$border-color: #dbe4f0
$box-width: 40px

=VHCenter()
  display: flex
  justify-content: center
  align-items: center

#enhanced-docs-pingcap-app
  position: fixed
  bottom: 0
  left: 0
  z-index: 999

  .bookmark
    color: $primary
    font-size: 20px

  .marked
    color: rgb(253, 126, 20)

  .bookmark-list
    position: absolute
    top: -453px
    left: 0
    min-width: 350px
    height: 450px
    background: #fff
    border: 1px solid $border-color
    border-radius: 3px
    overflow-y: scroll
    cursor: auto

    &::-webkit-scrollbar
      display: none

  .bookmark-list-tooltip
    +VHCenter()

    width: 100%
    height: 100%
    padding: 1rem
    color: $primary

  .history-list-item
    width: auto

.edp-container
  display: flex

.edp-box
  +VHCenter()

  width: $box-width
  height: $box-width
  background: #fff
  border: 1px solid $border-color
  border-left: none
  border-bottom: none
  cursor: pointer

  &:last-child
    border-top-right-radius: 3px

.edp-list-item
  display: flex
  color: $primary
  font-size: .875rem
  border-bottom: 1px solid $border-color
  cursor: pointer

  &:hover
    background: $border-color

  div:first-child
    display: flex
    align-items: center
    flex: 1
    padding: .5rem

  .meta
    +VHCenter()

    height: 1rem
    margin-right: 3px
    padding: 3px
    background: $primary
    color: #fff
    border-radius: 3px

  .close
    +VHCenter()

    width: 2rem
